{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=<tu-endpoint-de-branch-dev>.neon.tech;Port=5432;Database=neondb;Username=<usuario>;Password=<password>;Ssl Mode=Require;Trust Server Certificate=true;"
  }
}
